body{
  text-align: center;
}
.scrollable-playlist {
  max-height: 300px; /* Adjust this height as needed */
  overflow-y: auto;
}

#select-songlist{
    width: 18em;
}

.select-songlist {
  display: flex;
  justify-content: center;
  align-items: center;
}


#div-buttons{
    margin-top: 1em;
}
body{
    background-color:#002F31;
}
#copyright{
    color: #ffffff;
}
#image-headphones{
    width: 100px;
    height: 100px;
}
#h1-title{
    font-size: xx-large;
}
#logo{
    text-align: center;
}
#button-removeallsongs{
    margin-top: 0em;
}
.button-active {
    background-color: #4CAF50; /* Green */
    color: white;
}

fieldset {
  width: 30%;
  text-align: center;
  border: 1px solid #ccc; /* Add a light border to make it visible */
  padding: 1em;           /* Add some padding for better appearance */
}

legend {
  display: block;
  margin-left: 0.5em; /* Add a small margin to ensure the border doesn't overlap the text */
  padding: 0 0.5em; /* Padding helps keep the text within a comfortable boundary */
  white-space: nowrap; /* Prevents text wrapping */
  width: auto; /* Ensures it automatically adjusts */

  font-weight: bold;      /* Make the legend bold for emphasis */
}

select{
  display: block;
  margin-bottom: 1em;
}

.wrapper{
  display: flex;
  justify-content: center;
}
